# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
part1data=pd.read_csv("../WeatherPy/output_data/cities.csv")
part1data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kahului,20.8947,-156.4700,28.32,69,40,7.20,US,1628536953
1,Faanui,-16.4833,-151.7500,26.57,70,10,7.45,PF,1628537195
2,Doha,25.2867,51.5333,37.17,71,0,3.60,QA,1628537195
3,Mataura,-46.1927,168.8643,5.27,97,70,2.03,NZ,1628537196
4,Calvinia,-31.4707,19.7760,7.92,49,0,2.14,ZA,1628537196
...,...,...,...,...,...,...,...,...,...
547,Beringovskiy,63.0500,179.3167,8.20,80,79,5.02,RU,1628537373
548,Aksarka,66.5606,67.7975,10.42,82,100,3.21,RU,1628537373
549,Aras,42.5617,-2.3560,28.23,40,0,1.03,ES,1628537374
550,Kiama,-34.6833,150.8667,10.71,89,4,2.35,AU,1628537374
551,Sola,-13.8833,167.5500,25.64,74,94,11.36,VU,1628537374

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store latitude and longitude in locations
locations = part1data[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = part1data["Humidity"].astype(float)

In [11]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
#Ideal Weather Specifications: 
#temp. greater than or than or equal to 73 and less than or equal to 83
#wind speed less than 10mph
#cloudiness less than 15%

In [12]:
ideal_weather=part1data[(part1data["Max Temp"]>73) &
                         (part1data["Max Temp"]<83) &
                         (part1data["Wind Speed"]<10) &
                         (part1data["Cloudiness"]<15)]
ideal_weather

Empty DataFrame
Columns: [City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df=ideal_weather.loc[:,["City", "Country", "Lat", "Lng"]]
hotel_df["Hotel Name"]=""
hotel_df.head()

Empty DataFrame
Columns: [City, Country, Lat, Lng, Hotel Name]
Index: []

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure