# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
part1data=pd.read_csv("../WeatherPy/output_data/cities.csv")
part1data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,George Town,5.4112,100.3354,30.96,84,40,0.45,MY,1628567407
1,Zhigansk,66.7697,123.3711,21.52,41,98,8.76,RU,1628567625
2,Vila Franca do Campo,37.7167,-25.4333,20.23,82,36,1.25,PT,1628567626
3,Ponta do Sol,32.6667,-17.1000,21.51,79,27,1.04,PT,1628567626
4,Hobart,-42.8794,147.3294,19.03,49,75,1.79,AU,1628567486
...,...,...,...,...,...,...,...,...,...
560,Bendigo,-36.7667,144.2833,17.70,42,1,0.89,AU,1628567756
561,Tyrma,50.0833,132.1667,20.97,47,46,2.45,RU,1628567756
562,Coachella,33.6803,-116.1739,38.97,40,1,1.34,US,1628567470
563,Kachīry,53.0675,76.1036,20.37,75,90,6.43,KZ,1628567757
564,Fengcheng,40.4536,124.0717,27.26,65,94,3.47,CN,1628567757

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store latitude and longitude in locations
locations = part1data[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = part1data["Humidity"].astype(float)

In [5]:
# Plot Heatmap
fig = gmaps.figure(center = [0,0] ,zoom_level = 2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#Ideal Weather Specifications: 
#temp. greater than or than or equal to 73 and less than or equal to 82
#wind speed less than 10mph
#cloudiness less than 15%

ideal_weather = part1data.loc[(part1data["Max Temp"]<= 82) & (part1data["Cloudiness"]< 15) & (part1data["Wind Speed"]< 10)]

ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,Nikolskoye,59.7035,30.7861,16.12,87,8,1.69,RU,1628567627
8,Cape Town,-33.9258,18.4232,8.95,93,0,0.51,ZA,1628567243
18,Ribeira Grande,38.5167,-28.7000,21.96,84,0,1.73,PT,1628567445
19,Asău,46.4333,26.4000,17.51,90,5,1.33,RO,1628567516
23,Sinnamary,5.3833,-52.9500,25.50,88,13,4.58,GF,1628567366
...,...,...,...,...,...,...,...,...,...
550,Darhan,49.4867,105.9228,22.66,51,9,3.26,MN,1628567753
552,Chibombo,-14.6569,28.0706,13.28,42,0,2.17,ZM,1628567754
554,‘Ewa Beach,21.3156,-158.0072,29.65,57,1,5.14,US,1628567754
560,Bendigo,-36.7667,144.2833,17.70,42,1,0.89,AU,1628567756
562,Coachella,33.6803,-116.1739,38.97,40,1,1.34,US,1628567470

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df=ideal_weather.loc[:,["City", "Country", "Lat", "Lng"]]

#add "Hotel Name" Column and display table
hotel_df["Hotel Name"]=""
hotel_df.head()

              City Country      Lat      Lng Hotel Name
7       Nikolskoye      RU  59.7035  30.7861
8        Cape Town      ZA -33.9258  18.4232
18  Ribeira Grande      PT  38.5167 -28.7000
19            Asău      RO  46.4333  26.4000
23       Sinnamary      GF   5.3833 -52.9500

In [33]:
#base url and params
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "type": "hotel",  
    "keyword": "hotel",
    "radius": 5000,
    "key": g_key,}

#Print header 
print("Beginning Data Retrieval")
print("-----------------------------")

#loop through rows
for index, row in hotel_df.iterrows():
    
    #add latitude & longitude 
    lat=row["Lat"]
    lng=row["Lng"]
    
    params["location"]=f"{lat},{lng}"
    
    #Assemble URL and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
   
     # extract results
    results = response["results"]
    
     # Save Name
    try:
        print(f"Matching Result: {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # print error message and final message
    except (KeyError, IndexError):
        print("Hotel not found. Skipping...")
        
print("-----------------------------")
print("Data Retrieval Complete")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Retrieving Results for Index 7: Nikolskoye.
Hotel not found. Skipping...
Retrieving Results for Index 8: Cape Town.
Matching Result: The Silo Hotel.
Retrieving Results for Index 18: Ribeira Grande.
Matching Result: BELO CAMPO.
Retrieving Results for Index 19: Asău.
Matching Result: Pensiunea Sophia.
Retrieving Results for Index 23: Sinnamary.
Matching Result: L'oiseau de Paradis.
Retrieving Results for Index 24: Bredasdorp.
Matching Result: De Hoop Collection.
Retrieving Results for Index 25: Chicama.
Matching Result: Balihai Bungalows.
Retrieving Results for Index 30: Yulara.
Matching Result: Sails in the Desert.
Retrieving Results for Index 34: Albany.
Hotel not found. Skipping...
Retrieving Results for Index 38: Fort Stewart.
Matching Result: Holiday Inn Express & Suites Hinesville East - Fort Stewart, an IHG Hotel.
Retrieving Results for Index 39: Margate.
Matching Result: Botany Bay Hotel.
Retrieving Results for Index 41: Hermanus.
Matching Result: The Marine Hermanus.
Retrieving Results for Index 44: Caririaçu.
Hotel not found. Skipping...
Retrieving Results for Index 50: Kapaa.
Matching Result: The ISO.
Retrieving Results for Index 53: Jamestown.
Matching Result: Chautauqua Harbor Hotel.
Retrieving Results for Index 56: Tocantins.
Hotel not found. Skipping...
Retrieving Results for Index 60: Lusambo.
Hotel not found. Skipping...
Retrieving Results for Index 66: Saldanha.
Matching Result: Saldanha Bay Hotel.
Retrieving Results for Index 71: Dīr.
Matching Result: Hotel Green Hills.
Retrieving Results for Index 72: Aripuanã.
Hotel not found. Skipping...
Retrieving Results for Index 74: Mizdah.
Matching Result: فندق مزدة الكبير.
Retrieving Results for Index 75: Saint George.
Matching Result: Inn on The Cliff St. George.
Retrieving Results for Index 79: West Wendover.
Matching Result: The Wendover Nugget Hotel & Casino.
Retrieving Results for Index 80: Shīeli.
Matching Result: Turan Premium hotel.
Retrieving Results for Index 89: Acaraú.
Matching Result: Hotel Riviera.
Retrieving Results for Index 91: Avarua.
Matching Result: The Islander Hotel.
Retrieving Results for Index 92: Lebu.
Matching Result: Hotel Plaza Lebu.
Retrieving Results for Index 96: Torbay.
Hotel not found. Skipping...
Retrieving Results for Index 97: Cullman.
Matching Result: La Quinta Inn & Suites by Wyndham Cullman.
Retrieving Results for Index 98: Bethel.
Matching Result: Holiday Inn Danbury-Bethel @ I-84, an IHG Hotel.
Retrieving Results for Index 101: Russell.
Hotel not found. Skipping...
Retrieving Results for Index 103: Aswān.
Matching Result: Sofitel Legend Old Cataract Aswan.
Retrieving Results for Index 110: Saint Anthony.
Matching Result: Hewing Hotel.
Retrieving Results for Index 112: Exeter.
Matching Result: Southernhay House Hotel.
Retrieving Results for Index 115: Losino-Petrovskiy.
Matching Result: Sadko, Otel'.
Retrieving Results for Index 119: Broken Hill.
Matching Result: Royal Exchange Hotel.
Retrieving Results for Index 128: Hasaki.
Matching Result: Villa Umi To Mori.
Retrieving Results for Index 129: Hamilton.
Matching Result: Graduate Cincinnati.
Retrieving Results for Index 133: Matagami.
Matching Result: Hôtel Matagami.
Retrieving Results for Index 138: Belle Fourche.
Matching Result: Super 8 by Wyndham Belle Fourche SD.
Retrieving Results for Index 139: Saint-Philippe.
Matching Result: Les Embruns Du Baril.
Retrieving Results for Index 144: Lorengau.
Matching Result: Tharapiyap Lodge.
Retrieving Results for Index 146: Calama.
Matching Result: ibis budget Calama.
Retrieving Results for Index 148: Guerrero Negro.
Matching Result: The Halfway Inn.
Retrieving Results for Index 153: Fortuna.
Matching Result: THE REDWOOD RIVERWALK HOTEL.
Retrieving Results for Index 158: Kashan.
Matching Result: Sourijan Boutique Hotel.
Retrieving Results for Index 165: Cayenne.
Matching Result: Hotel Amazonia Cayenne.
Retrieving Results for Index 166: Pisco.
Matching Result: PiscoMar Peru.
Retrieving Results for Index 172: Faanui.
Matching Result: InterContinental Bora Bora Resort Thalasso Spa.
Retrieving Results for Index 174: Oranjemund.
Matching Result: Oryx Guesthouse Oranjemund.
Retrieving Results for Index 175: Lata.
Hotel not found. Skipping...
Retrieving Results for Index 176: At-Bashi.
Matching Result: Hostel At-Bashy.
Retrieving Results for Index 178: Penzance.
Matching Result: Queens Hotel.
Retrieving Results for Index 188: Wahiawā.
Matching Result: The Inn At Schofield.
Retrieving Results for Index 190: Vanimo.
Matching Result: Sandaun Surf Hotel.
Retrieving Results for Index 196: Conceição do Araguaia.
Matching Result: Tarumã Tropical Hotel.
Retrieving Results for Index 197: Rawson.
Matching Result: Casa de mar.
Retrieving Results for Index 200: Ambilobe.
Matching Result: Hotel National.
Retrieving Results for Index 209: Castro.
Matching Result: Central Palace Hotel - Castro (PR).
Retrieving Results for Index 225: Araouane.
Hotel not found. Skipping...
Retrieving Results for Index 229: Kyra.
Hotel not found. Skipping...
Retrieving Results for Index 230: Yangi Marg`ilon.
Matching Result: TANTANA HOTEL FERGANA.
Retrieving Results for Index 232: Goulburn.
Matching Result: Mercure Goulburn.
Retrieving Results for Index 234: Los Andes.
Matching Result: Inca Hoteles Los Andes.
Retrieving Results for Index 236: Mangai.
Hotel not found. Skipping...
Retrieving Results for Index 240: Gizo Government Station.
Matching Result: Imagination Island.
Retrieving Results for Index 242: San Patricio.
Matching Result: Americas Best Value Inn Sinton.
Retrieving Results for Index 245: Bariloche.
Matching Result: Hotel Huemul.
Retrieving Results for Index 254: San Quintín.
Matching Result: Don Eddie's Landing.
Retrieving Results for Index 255: Riverton.
Matching Result: Hampton Inn Draper Salt Lake City.
Retrieving Results for Index 259: Dalbandin.
Matching Result: Al-Dawood Hotel & Restaurant.
Retrieving Results for Index 261: Mercedes.
Matching Result: Gran Hotel Mercedes.
Retrieving Results for Index 263: Coyhaique.
Matching Result: Dreams.
Retrieving Results for Index 265: Isfana.
Matching Result: Hotel Dilbar.
Retrieving Results for Index 267: Mmabatho.
Matching Result: Protea Hotel by Marriott Mahikeng.
Retrieving Results for Index 270: Carbonia.
Matching Result: Lu 'Hotel.
Retrieving Results for Index 279: Monte Patria.
Matching Result: Hotel Monte Cordillera.
Retrieving Results for Index 281: Susanville.
Matching Result: Comfort Inn & Suites.
Retrieving Results for Index 284: Comodoro Rivadavia.
Matching Result: Lucania Palazzo Hotel.
Retrieving Results for Index 291: Bjørnevatn.
Matching Result: Snowhotel Kirkenes & Gamme Northern Lights Cabins.
Retrieving Results for Index 293: Safi.
Matching Result: Hôtel Atlantique panorma.
Retrieving Results for Index 294: Abhā.
Matching Result: Blue Inn بلو إن.
Retrieving Results for Index 298: Nouadhibou.
Matching Result: Apparts Hotel Esma.
Retrieving Results for Index 300: Aksu.
Matching Result: Tianyuan International Hotel.
Retrieving Results for Index 306: Otane.
Matching Result: Ludlow Farmstay.
Retrieving Results for Index 317: Vila.
Matching Result: Hotel Castrum Villae.
Retrieving Results for Index 320: Lakes Entrance.
Matching Result: The Esplanade Resort & Spa.
Retrieving Results for Index 325: Constitución.
Matching Result: Hotel Nogal.
Retrieving Results for Index 328: Hatillo.
Matching Result: Hotel Parador El Buen Cafe.
Retrieving Results for Index 329: Livingstone.
Matching Result: Protea Hotel by Marriott Livingstone.
Retrieving Results for Index 330: Karratha.
Matching Result: Karratha International Hotel.
Retrieving Results for Index 331: Le Port.
Matching Result: Lodge Roche Tamarin & Spa Village Nature.
Retrieving Results for Index 334: Ukiah.
Matching Result: Comfort Inn & Suites Ukiah Mendicino County.
Retrieving Results for Index 339: Khorixas.
Matching Result: Damara Mopane Lodge.
Retrieving Results for Index 342: Terra Santa.
Matching Result: RIO HOTEL.
Retrieving Results for Index 343: Grindavik.
Matching Result: Northern Light Inn & Max's Restaurant.
Retrieving Results for Index 347: Manggar.
Matching Result: Guest Hotel.
Retrieving Results for Index 350: Mount Isa.

Matching Result: Isa Hotel.
Retrieving Results for Index 361: Marrakesh.
Matching Result: La Mamounia.
Retrieving Results for Index 362: Chernyshevskiy.
Matching Result: Sberbank.
Retrieving Results for Index 364: Neuquén.
Matching Result: Casino Magic Hotel & Casino.
Retrieving Results for Index 366: Ekhabi.
Hotel not found. Skipping...
Retrieving Results for Index 368: Alyangula.
Matching Result: Groote Eylandt Lodge.
Retrieving Results for Index 369: Buraidah.
Matching Result: Best Western Plus Buraidah.
Retrieving Results for Index 370: Kieta.
Hotel not found. Skipping...
Retrieving Results for Index 371: Uvalde.
Hotel not found. Skipping...
Retrieving Results for Index 378: Kingman.
Matching Result: La Quinta Inn & Suites by Wyndham Kingman.
Retrieving Results for Index 383: Lixouri.
Matching Result: Thalassa Boutique Hotel Kefalonia.
Retrieving Results for Index 386: Oktyabr'skoye.
Matching Result: Aleksandrovskiy.
Retrieving Results for Index 389: Beloha.
Hotel not found. Skipping...
Retrieving Results for Index 391: Tikrit.
Matching Result: فندق تكريت سابقا.
Retrieving Results for Index 393: Arman'.
Hotel not found. Skipping...
Retrieving Results for Index 394: Half Moon Bay.
Matching Result: Cypress Inn On Miramar Beach.
Retrieving Results for Index 396: Ridgecrest.
Matching Result: Hampton Inn & Suites Ridgecrest.
Retrieving Results for Index 397: Qaqortoq.
Matching Result: Hotel Qaqortoq.
Retrieving Results for Index 402: Laguna.
Matching Result: Hampton Inn & Suites Sacramento-Elk Grove Laguna I-5.
Retrieving Results for Index 403: Iğdır.
Matching Result: Hotel Dedemin 2.
Retrieving Results for Index 405: Krasnovishersk.
Matching Result: For you.
Retrieving Results for Index 406: Gumdag.
Hotel not found. Skipping...
Retrieving Results for Index 413: Dumas.
Matching Result: Hampton Inn & Suites Dumas.
Retrieving Results for Index 414: Chardara.
Matching Result: Жанаргул.
Retrieving Results for Index 417: Qandala.
Hotel not found. Skipping...
Retrieving Results for Index 418: Toora-Khem.
Matching Result: Sberbank.
Retrieving Results for Index 420: Morgan City.
Matching Result: La Quinta Inn & Suites by Wyndham Morgan City.
Retrieving Results for Index 422: Manjakandriana.
Hotel not found. Skipping...
Retrieving Results for Index 423: Birjand.
Matching Result: هتل پرويز.
Retrieving Results for Index 426: Novodugino.
Matching Result: СберБанк.
Retrieving Results for Index 430: Kokopo.
Matching Result: Kokopo Beach Bungalow Resort.
Retrieving Results for Index 431: Areia Branca.
Matching Result: HOTEL COSTA ATLÂNTICO.
Retrieving Results for Index 432: Flagstaff.
Matching Result: Hotel Monte Vista.
Retrieving Results for Index 439: Lüderitz.
Matching Result: LÜDERITZ NEST HOTEL.
Retrieving Results for Index 442: Caconda.
Hotel not found. Skipping...
Retrieving Results for Index 445: Solano.
Hotel not found. Skipping...
Retrieving Results for Index 450: Ngunguru.
Matching Result: Quality Hotel Oceans Tutukaka.
Retrieving Results for Index 453: Pitimbu.
Matching Result: Pousada O Nativo.
Retrieving Results for Index 455: Bhawana.
Matching Result: Kalyar Hotel.
Retrieving Results for Index 461: Kruisfontein.
Hotel not found. Skipping...
Retrieving Results for Index 476: Aktobe.
Matching Result: The Amsterdam Hotel.
Retrieving Results for Index 482: Syracuse.
Matching Result: Musciara Resort.
Retrieving Results for Index 485: Marana.
Hotel not found. Skipping...
Retrieving Results for Index 487: Manono.
Matching Result: Hotel hewa bora.
Retrieving Results for Index 488: Ayan.
Matching Result: Gostinitsa.
Retrieving Results for Index 489: Ola.
Hotel not found. Skipping...
Retrieving Results for Index 491: Guane.
Matching Result: Casa Hospedaje.
Retrieving Results for Index 493: São João da Barra.
Matching Result: Pousada Kactus.
Retrieving Results for Index 498: Grass Valley.
Matching Result: The National Exchange Hotel.
Retrieving Results for Index 499: Avigliano.
Matching Result: Ristorante Hotel Natura Di CARLUCCI CARMELA.
Retrieving Results for Index 500: Orchard Homes.
Matching Result: AC Hotel by Marriott Missoula Downtown.
Retrieving Results for Index 501: Los Llanos de Aridane.
Matching Result: Hotel Hacienda de Abajo.
Retrieving Results for Index 503: Rūdbār.
Hotel not found. Skipping...
Retrieving Results for Index 506: Khorramshahr.
Matching Result: Green Hotel.
Retrieving Results for Index 508: Bay City.
Matching Result: DoubleTree by Hilton Hotel Bay City - Riverfront.
Retrieving Results for Index 510: Carballo.
Matching Result: Hotel Pensua Punta Del Este.
Retrieving Results for Index 518: Itarema.
Matching Result: COCO-KNOTS Kite Lodge & Hostel.
Retrieving Results for Index 521: Porkhov.
Matching Result: Shelon'.
Retrieving Results for Index 522: Senador José Porfírio.
Matching Result: Hotel Praia.
Retrieving Results for Index 528: Opuwo.
Matching Result: Opuwo Country Lodge.
Retrieving Results for Index 532: Miandrivazo.
Matching Result: EDEN DE LA TSIRIBIHINA.
Retrieving Results for Index 533: Cascais.
Matching Result: Villa Cascais.
Retrieving Results for Index 535: Port Townsend.
Matching Result: Palace Hotel Port Townsend.
Retrieving Results for Index 537: Jadu.
Hotel not found. Skipping...
Retrieving Results for Index 543: Kasungu.
Matching Result: Chikho Hotel.
Retrieving Results for Index 547: Clarence Town.
Matching Result: Erringhi Hotel.
Retrieving Results for Index 548: Nanortalik.
Matching Result: Hotel Kap Farvel.
Retrieving Results for Index 550: Darhan.
Matching Result: Buudai Hotel.
Retrieving Results for Index 552: Chibombo.
Matching Result: Chibombo District Council Guest House.
Retrieving Results for Index 554: ‘Ewa Beach.
Matching Result: Hampton Inn & Suites Oahu/Kapolei.
Retrieving Results for Index 560: Bendigo.
Matching Result: The Hotel Shamrock.
Retrieving Results for Index 562: Coachella.
Matching Result: Holiday Inn Express & Suites Indio - Coachella Valley, an IHG Hotel.
-----------------------------
Data Retrieval Complete
-----------------------------

In [38]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Add marker layer of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
symbol_layer = gmaps.symbol_layer(locations, info_box_content=hotel_info)
fig.add_layer(symbol_layer)
# Display Map
fig